// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// adminLTE
@import "~admin-lte/dist/css/adminlte.css";
@import "~admin-lte/plugins/fontawesome-free/css/all.css";

@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";
@import "~noty/src/themes/nest.scss";
